.icon32-posts-sidebar {
	background:transparent url('../img/icon-32.png') no-repeat !important;
}

#cas-rules .inside {
	overflow:hidden;
}

#cas-tab-wrapper {
	width:150px;
	border-width:0 1px 0 0;
	border-style:solid;
	border-color:#ddd;
	margin:0 10px 0 0;
	padding:0;
	float:left;
	background:#eee;
}

#cas-rules .inside, #cas-tab-wrapper li {
	margin:0;
	padding:0;
}

#cas-tab-wrapper a {
	font-weight: bold;
	height:30px;
	line-height:30px;
	width:130px;
	display:block;
	padding:0 10px;
	text-decoration: none;
}

#cas-tab-wrapper li:hover {
	background:#e4e4e4;
}

#cas-tab-wrapper li {
	
	border-width:1px 0;
	border-style:solid;
	border-color:#fff #fff #ddd;
}

#cas-tab-wrapper li.ui-state-active {
	border-color:#c0c0c0 #fff #ddd;
	background:#e0e0e0;
	box-shadow:inset 0 2px 1px 0 #ccc;
}

#cas-tab-wrapper li:last-child {
	border-width:1px 0 0;
}

.cas-rule-content {
}

#cas-rule-wrapper {
	padding:0 10px 0 0;
}