/**
 * @package Content Aware Sidebars
 * @author Joachim Jensen <jv@intox.dk>
 */

.icon32-posts-sidebar {
	background:transparent url('../img/icon-32.png') no-repeat !important;
}

#cas-rules, .postbox-container, .meta-box-sortables, #cas-rules .inside, .postbox, #normal-sortables {
	height:inherit !important;
}

#cas-rules .inside {
	overflow:hidden;
	margin:0;
	padding:0;
}

#cas-accordion .ui-accordion-header {
	border-width:1px 0 !important;
	border-style:solid;
	margin:0;
	display:block;
	outline: none;
}

#cas-accordion .ui-accordion-header.ui-state-default {
	border-color:#f9f9f9 #f9f9f9 #dfdfdf !important;
	background-color:#ececec;
}

#cas-accordion .ui-accordion-header:hover,
#cas-accordion .ui-accordion-header.ui-state-hover {
	background-color:#e4e4e4 !important;
}

#cas-accordion .ui-accordion-header a {
	display:block;
	height:30px;
	line-height:30px;
	padding:0 30px;
	text-decoration: none;
}

#cas-accordion .ui-accordion-header.ui-state-active {
	background-color:#dfdfdf;
	border-color:#c0c0c0 #fff #cfcfcf !important;
	box-shadow:inset 0 2px 1px 0 #cfcfcf;
}

#cas-accordion .ui-accordion-content {
	border-width:1px 0 !important;
	border-style:solid;
	border-color:#eee #eee #cfcfcf !important;
	padding:10px !important;
	background-color:#dfdfdf !important;	
}

#cas-accordion .ui-accordion-header.ui-state-default:last-of-type,
#cas-accordion .ui-accordion-content:last-child {
	border-width:1px 0 0 !important;
}

.cas-tick {
	background-image:url('../img/tick.png'); /* Icon by fatcow.com */
	background-repeat: no-repeat;
	background-position: 8px center;
}

.cas-contentlist .children li {
	padding-left:20px;
}
