/**
 * @package Content Aware Sidebars
 * @author Joachim Jensen <jv@intox.dk>
 */

.icon32-posts-sidebar {
	background:transparent url('../img/icon-32.png') no-repeat !important;
}

#cas-rules > .handlediv, #cas-rules > .hndle {
	display:none;
}

#cas-rules.postbox {
	background:none;
	border:none;
	box-shadow: none;
}

#cas-rules > .inside {
	overflow:hidden;
	margin:0;
	padding:0;
}

#cas-container {
	overflow:hidden;
	width:100%;
}

#cas-accordion {
	float:left;
	width:300px;
}

#cas-accordion.accordion-container .accordion-section:first-child,
#cas-accordion.accordion-container .accordion-section:first-child h3,
#cas-accordion.accordion-container .top,
#cas-accordion.accordion-container .top h3 {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#cas-accordion.accordion-container .accordion-section:last-child,
#cas-accordion.accordion-container .accordion-section:last-child .accordion-section-content,
#cas-accordion.accordion-container .bottom,
#cas-accordion.accordion-container .bottom:not(.open) h3 {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.js #cas-accordion .accordion-section-title {
	cursor: pointer;
	border-radius:0!important;
	box-shadow:none!important;
	border-bottom-width: 0;
}

#cas-accordion .accordion-section-title {
	padding: 10px 20px;
	margin:0!important;
	overflow:hidden;
}

#cas-accordion .accordion-section-content {
    padding: 18px 13px;
    font-size: 14px;
}

.js #cas-accordion .accordion-section:not(.open) .accordion-section-content {
	display:none;
}

#cas-accordion ul.category-tabs {
	width:auto;
}

#cas-accordion ul.category-tabs li {
	padding: 3px 5px 5px;
	border-style: solid;
	border-width: 1px;
	position: relative;
	display: inline-block;
	line-height: 1.35em;
	margin:0;
	border-color: #fff
}

#cas-accordion ul.category-tabs li.tabs {
	border-color: #DFDFDF #DFDFDF #FFFFFF
}

#cas-accordion .tabs-panel {
	overflow:auto;
	clear:both;
}

.cas-tick {
	background-image:url('../img/tick.png'); /* Icon by fatcow.com */
	background-repeat: no-repeat;
	background-position: 8px center;
}

.cas-contentlist .children li {
	padding-left:20px;
}

#cas-accordion .button-controls {
	overflow:hidden;
}

.add-to-group {
	float:right;
}

#cas-groups {
/*	border:1px solid #DFDFDF;
	background:linear-gradient(to top, #F5F5F5, #F9F9F9) repeat scroll 0 0 #F5F5F5;
	border-radius:3px;*/
}

#cas-groups {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	
	margin-left:320px;
	padding:10px;
}

.cas-group-single.cas-group-active {
	border-color:green;
}

.cas-group-single {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	border-radius:3px;
	border-width:1px;
	border-style:solid;
	border-color:#cfcfcf;
	padding:5px;
	overflow:hidden;
}

.cas-group-single .cas-group-control {
	display:inline;
	float:right;
}

.cas-group-active .cas-group-control {
	display:none;
}

.cas-group-single .cas-group-control-active {
	display:none;
}

.cas-group-active .cas-group-control-active {
	display:inline;
}

.cas-group-single:not(.cas-group-active) label {
	cursor:auto;
}

.cas-group-single:not(.cas-group-active) input[type="checkbox"] {
	display:none;
}

.cas-group-single .submitdelete {
	color:#BC0B0B;
}